.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

body
{
background-size: cover;
background-position: center;
}

canvas
{
    box-shadow: 10px 10px 10px rgb(69, 66, 66);
    border-radius: 10px;
}


